setup/template[[:space:]]packages/portfolioPkg/fileUploads/snowdon.glb filter=lfs diff=lfs merge=lfs -text
setup/template[[:space:]]packages/portfolioPkg/custom/customUploads/snowdon.glb filter=lfs diff=lfs merge=lfs -text
