.simple-compare-view {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   height: calc(100vh - 80px);

   .viewer {
      height: 100%;
      width: 100%;

      > div {
         height: 100%;

         > div {
            position: relative;
         }
      }
   }

   .panel-row {
      display: flex;
      flex-direction: row;
      height: calc(100vh - 80px);
      position: absolute;
      z-index: 1001;

      .drawer {
         background-color: white;
         z-index: 98;

         .drawer-content-open {
            direction: rtl;
         }

         .drawer-content-open > div {
            direction: ltr;
         }

         .viewer-sidebar {
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;

            .no-element-selected {
               width: 80%;
               border: 2px solid lightgray;
               border-radius: 20px;
               padding: 20px;
               color: lightgray;
               font-weight: bold;
         
            }
      
         }
      }
   
   }
  
}