.engineer-info {
    margin-top: 16px;
    padding: 16px;

    .engineer-info-title{
        color: #5D5D5D;
        font-size: 14px;
        font-weight: 700;
    }

    .engineer-data {
        color: #5D5D5D;
        font-size: 13px;
        font-weight: 500;
    }
}