.file-tip-row {

   font-weight: bold;

   .fa-file-download {
      color: blue;
   }

}

.file-ver-row {

   background-color: lightgray;
   border-left: 1px solid black;

   .fa-file-download {
      color: blue;
   }
}