.generic-page-body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px) !important;
    overflow: hidden;
}

/* Site selection cursor styles */
.map-selecting-position {
    cursor: url('/icons/map-pin.svg') 12 24, crosshair !important;
}

.map-selecting-position * {
    cursor: url('/icons/map-pin.svg') 12 24, crosshair !important;
}

.map-selecting-position canvas {
    cursor: url('/icons/map-pin.svg') 12 24, crosshair !important;
}
