.project-list {
   display: flex;
   flex-direction: column;

   .current-version {
      margin: 20px;
      align-self: flex-end;
      font-weight: bold;
      color: var(--app-accent-color);
   }

   table {
      width: 100%;
      
      .center {

         text-align: center
         
      }
      
      tbody {
         
         tr {
            border-top: 1px solid lightgray;

            td {
               padding: 10px;
            }

           
         }
      }
   }
}